.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.reviews-summary .text-center .btn {
  width: 500px;
}

.review-row {
  width: 80%;
  margin: 0 auto;
}

.review-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
  flex-wrap: nowrap;
  width: 60%;
}

.review-nav button {
  width: 5%;
  background-color: transparent;
  border-color: transparent;
  color: black;
  border-width: 1px;
  padding: 1px 1px;
  margin: 0 10px;
  cursor: pointer;
}

.review-nav span {
  width: 15%;
  text-align: center;
}